

h1 {
    float: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: lightgray;
    width: 100%;
}

.quest {
    background: lightgray;
    margin: 20px;
}

.questions {
    width: 75%;
    margin: 30Px;
}

#container-quiz {
    background:rgb(207, 204, 204) ;
    opacity: .5;
}

#timeLeft {
    border: 10px;
    border-color: antiquewhite;
    font:bold;
    color: rgb(41, 37, 37);
    font-size: large;

}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(168, 163, 163);
    color: rgb(41, 37, 37);
    text-align: center;
    font-size: large;
 }

 img {
     height: 150px;
     width: 150px;
 }