

h1 {
    float: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: lightgray;
    width: 100%;
}

.question {

}

.questions {
    background: lightgray;
    width: 75%;
    margin: 30Px;
}