

h1 {
    float: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: lightgray;
    width: 100%;
}

.quest {
    background: lightgray;
    margin: 20px;
}

.questions {
    width: 75%;
    margin: 30Px;
}

#timeLeft {
    border: 10px;
    border-color: antiquewhite;
    font:bold;

}